body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    background-color: #027bfe;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;

}

.button:hover {
    background-color: #0266d2;
}

/* Header styles */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-title {
    font-weight: 400;
}

/* Hero section styles */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 51px;
    padding: 100px 0;
    background: pink;
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: 1;
}

.hero .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.hero .content {
    position: relative;
    z-index: 1;
}

.hero .content h1 {
    color: #fff;
    font-size: 42px;
    text-align: center;
    max-width: 700px;
    width: 100%;
}

/* Media-queries */

@media (max-width: 700px) {
    .hero {
        padding: 50px 0;
    }
    
} 
 /* Content design */
 form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    
 }
 form input{
     width: 50%;
     margin-left: 5px;
     height: 30px;
     border-radius: 4px;
     border: 1px solid #fff;
     font-size: 16px;
 }
 form .button {
     padding-left: 30px;
     padding-right: 30px;
     margin-left: 5px;
 }
 /* Media-queries */
 @media (max-width: 700px) {
    form{
        flex-direction: column;
        align-content: space-around;
        border: 0px solid #fff;
    }
    form input{
        width: 90%;
        margin-bottom: 10px;
        margin-left: 0px;
       
    }
   form .button {
       width: 80%;
        margin-left: 0px; 
        text-align: center;
    }
    }
    /* icons dalis */
    
    .icon_size{
        width: 50px;
        height: 50px;
        color: #027bfe;
    }
    .icons-grid{
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: rgb(245, 245, 245);
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 120px;
        padding-right: 120px;
    }
    .icon{
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        color:rgb(88, 86, 86);
    }
    .icon h2{
        margin-bottom: 10px;
        color: black;
    }

     /* Media-queries */
     @media (max-width: 700px) {
        .icons-grid{
            flex-direction:column;
            padding-top: 110px;
            padding-bottom: 110px;
        }
            .icon{
                padding-bottom: 80px;
            }
     }






      /* main text-image dalis */

    .text-image-grid{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        pointer-events: none;
        
      }
    
      .even {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: -3px;
    text-decoration: none;
    }
    .text-image-grid:nth-last-child(3){
        margin-bottom: 10px;
    }
    
    .even-picture {
        display: block;
        width: 100%;
        height: 100%;
        
      }
      .even-picture img{
        width: 100%;
        height: 100%;
      }
      .even-text{
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 100%;
        align-content: center;
      }
    
      .even-text h2{
      padding-left: 15%;
      padding-right: 15%;
      color: black;
      margin-bottom: 0px;
      pointer-events:stroke;
    }
    .even-text p{
        padding-left: 15%;
        padding-right: 15%;
        color: rgb(88, 86, 86);
      }

      .odd {
        
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: -3px;
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
    
      }
      .odd-picture{
        display: block;
        position: relative;
        width: 100%;
        height: 50%;
        
      }
      .odd-picture img{
        
        width: 100%;
        height: 100%;
      }
      .odd-text{
        position: relative;
        flex: 100%;
        
      }
      .odd-text h2{
        padding-left: 15%;
        padding-right: 15%;
        color: black;
        margin-bottom: 0px;
        pointer-events:stroke;
      }
      .odd-text p{
          padding-left: 15%;
          padding-right: 15%;
          color: rgb(88, 86, 86);
        }
    

        /* Media-queries */
        @media (max-width: 700px) {
            .even {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 20px;
                text-decoration: none;
            }
            .odd {
        
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 20px;
                text-decoration: none;
                padding-left: 0px;
                padding-right: 0px;
            }
        }

         /* People design */

         .testimonials{
            display: flex;
            flex-direction:column;
            background-color: rgb(245, 245, 245);
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 120px;
            padding-right: 120px;
            height: 40%;

        }

        .pagr{
            display: flex;
            flex-direction:row;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 0px;

        }
        .people{
            text-align: center;
            width: 30%;
            
        }
        .testimonials h2{
            text-align: center;
            width: 100%;
            margin-bottom: 40px;
            margin-top: 80px;
            
        }
        .people img{
            border-radius: 50%;
            height: 70%;
            width: 70%;
            
        }
    .people h3{
        text-align: center;
        
    }
    .people p{
        text-align: center;
        flex-wrap: wrap;
        color:rgb(88, 86, 86);
    }
      /* Media-queries */
      @media (max-width: 700px) {
        .testimonials{
            padding-left: 0;
            padding-right: 0;
            align-content: center;
            justify-content: center;
        }
        .testimonials h2{
            margin-bottom: 40px;
            margin-top: 40px;
        }
        .pagr{
            display: flex;
            flex-direction:column;
            align-content: center;
            justify-content: center;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .people{
            flex-direction:column;
            display: flex;
            text-align: center;
            justify-content: center;
            width: 100%;
        }
        .people img{
            display: flex;
            border-radius: 50%;
            height: 50%;
            width: 50%;
            align-content: center;
            margin-left: 25%;
        }
        .people h3{
            text-align: center;
        }
        .people p{
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 40px;
            
        }
    }

    /* Hero small design */
    .hero-small {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 0px;
        padding-bottom: 80px;
        background: pink;
    }
    
    .hero-small:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        pointer-events: none;
        z-index: 1;
    }
    
    .hero-small .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
    
    .hero-small .content {
        position: relative;
        z-index: 1;
        width: 50%;
    }
    
    .hero-small .content h2 {
        color: #fff;
        text-align: center;
        max-width: 700px;
        width: 100%;
        padding-top: 80px;
    }
    form{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        
     }
     form .mzs{
         width: 50%;
         margin-left: 0px;
         height: 30px;
         border-radius: 4px;
         border: 0px solid #fff;
         font-size: 16px;
     }
     .l .button {
        display: inline-block;
         padding-left: 30px;
         padding-right: 30px;
         margin-left: 7px;
         padding: 5px 50px;
         padding-bottom: 8px;
         text-align: center;
     }

    /* Media-queries */
 
    @media (max-width: 700px) {
    .hero-small {
        display: flex;
        flex-direction:column}

        form .mzs{
            width: 100%;
            margin-left: 0px;
            height: 30px;
            border-radius: 4px;
            border: 0px solid #fff;
            font-size: 16px;
    }
    .l .button {
        display: inline-block;
         padding-left: 0px;
         padding-right: 0px;
         margin-left: 0px;
         padding: 5px 50px;
         padding-bottom: 8px;
         text-align: center;
         width: 60%;}
    }

    /* Footer design */


    /* Soc.tinklu ikonu css */
    .svg-icon {
        width: 2em;
        height: 2em;
        padding-left: 15px;
        cursor: pointer;
      }
      

      .svg-icon path,
      .svg-icon polygon,
      .svg-icon rect {
        fill: #4691f6;
      }
      
      .svg-icon circle {
        stroke: #4691f6;
        stroke-width: 1;
      }

      .footer{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 50px;
      }
      .link{
          padding-left: 5px;
          text-decoration: none;
          color: #4691f6;
      }
      span{
          color: black;
          padding-right: 5px;
      }
      .copy{
          color: rgb(88, 86, 86);
          font-size: 12px;
      }

      /* Media-queries */
 
    @media (max-width: 700px) {
        .footer{
            display: flex;
            flex-direction:column;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
        }
        .ft{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            padding-top: 40px;
        }
        .contacts{
            display: flex;
            justify-content: center;
            padding-top: 10px;
            padding-bottom: 40px;
        }
    }

